includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
    ignoreErrors:
        - identifier: trait.unused
          path: src/Database/Factories/Concerns/BuildsRichEditorContent.php
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
